{% extends "auctions/layout.html" %}


{% block body %}
<h2>Active Watchlist</h2>

{% if message %}
<div class="alert alert-success">
    <strong>Success!</strong> {{ message }}
</div>
{% endif %}

{% for auction in Wlist %}
<a href="{% url 'listing' auction.id %}">
    <div class="row" style="border-style: solid; border-width: 1px; margin-bottom: 5px;">

        <div style="width: 450px; height: 250px;">
            <img src="{{ auction.photo }}" style="width: auto; height: 250px; align-self: center;">
        </div>

        <div style="background-color: whitesmoke; width: 750px; text-align: center;">
            <h3>{{ auction.title }}</h3>
            <br>
            <h4>Current price: ${{ auction.current_price }}</h4>
            <br>
            <p style="width: 100%; height: auto;">{{ auction.description }}</p>
            <br>
            <p style="font-size: 15px;">Created: {{ auction.date }} {{ auction.time }}</p>
        </div>
    </div>
</a>
{% empty %}
<h3 style="color: darkgrey;">Watchlist is empty</h3>
{% endfor %}
{% endblock %}